<div class="card">
    <div class="card-body">
        <h2 class="card-title">Proyectos <a class="iconos" href="">
                <img src="assets/bx-plus.svg" alt="Mas"></a>
        </h2>
        <h4 class="text_blue">Portfolio
            <a class="iconos" href=""><img src="assets/bxs-trash-alt.svg" alt="Eliminar"></a>
            <a class="iconos" href=""><img src="assets/bxs-edit-alt.svg" alt="Editar"></a>
        </h4>
        <p class="text_gray">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores quibusdam consequuntur dicta necessitatibus, ea est nemo autem reiciendis omnis nihil cum eaque quos nostrum maxime illo earum beatae inventore sed!</p>

        <h4 class="text_blue">Proximamente...
            <a class="iconos" href=""><img src="assets/bxs-trash-alt.svg" alt="Eliminar"></a>
            <a class="iconos" href=""><img src="assets/bxs-edit-alt.svg" alt="Editar"></a>
        </h4>
        <p class="text_gray">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores quibusdam consequuntur dicta necessitatibus, ea est nemo autem reiciendis omnis nihil cum eaque quos nostrum maxime illo earum beatae inventore sed!</p>
    </div>
</div>
