<div class="card">
    <div class="contenedorimg">
        <img src="assets/banner.jpg" class="card-img-top" alt="banner">
    </div>
    <div class="card-body">
        <img src="assets/WhatsApp Image 2022-08-01 at 4.52.32 PM.jpeg" alt="Silvio Pavón" class="hero_img_perfil">
        <a class="iconos" href=""><img src="assets/bxs-edit-alt.svg" alt="Editar"></a>
        <h2 class="card-title_2" >{{persona.nombre}} {{persona.apellido}}</h2>
        <p class="card-text">Full Stack Developer Jr</p>
        <p class="card-text">Mendoza (Argentina) <a href="#" class="hero_cta">Información de Contacto</a></p>
        <button type="button" class="btn btn-primary">Tengo interés en</button>
        <button type="button" class="btn btn-light">Añadir sección</button>
        <button type="button" class="btn btn-light">Más</button>
    </div>
</div>
