<div class="card">
    <div class="card-body">
        <h2 class="card-title">Experiencia
            <a class="iconos" href=""><img src="assets/bx-plus.svg" alt="Mas"></a>
        </h2>
        <img class="imagen_fondo" src="assets/juan de casas.png" alt="Fabrica">
        <h3>Fábrica de insumos de agronomía y minería
            <a class="iconos" href=""><img src="assets/bxs-edit-alt.svg" alt="Editar"></a>
            <a class="iconos" href=""><img src="assets/bxs-trash-alt.svg" alt="Eliminar"></a>
        </h3>
        <p class="card-text">Operario - Full time</p>
        <h4 class="text_gray">mayo 2017 - actualidad - 5 años y 2 meses</h4>
        <h4 class="text_gray">Guaymallén, Mendoza</h4>
    </div>
    <div class="card-body">
        <h2 class="card-title">Educación
            <a class="iconos" href=""><img src="assets/bx-plus.svg" alt="Mas"></a>
        </h2>

        <img class="izquierda" src="assets/bx-terminal.svg" alt="Argentina_programa">
        <h3>Argentina Programa
            <a class="iconos" href=""><img src="assets/bxs-edit-alt.svg" alt="Editar"></a>
            <a class="iconos" href=""><img src="assets/bxs-trash-alt.svg" alt="Eliminar"></a>
        </h3>
        <p class="card-text">Programador Full Stack</p>
        <p class="text_gray">2021 - 2022</p>

        <img class="izquierda" src="assets/bx-library.svg" alt="library">
        <h3>Secretariado Contable
            <a class="iconos" href=""><img src="assets/bxs-trash-alt.svg" alt="Eliminar"></a>
            <a class="iconos" href=""><img src="assets/bxs-edit-alt.svg" alt="Editar"></a>
        </h3>
        <p class="card-text">Manejo de aplicaciones contables - Word - Excel </p>
        <p class="text_gray">2020 - 2021</p>

        <img class="izquierda" src="assets/bxs-school.svg" alt="school">
        <h3>Escuela Secundaria Mario Casale
            <a class="iconos" href=""><img src="assets/bxs-trash-alt.svg" alt="Eliminar"></a>
            <a class="iconos" href=""><img src="assets/bxs-edit-alt.svg" alt="Editar"></a>
        </h3>
        <p class="card-text">Orientación contable </p>
        <p class="text_gray">2011 - 2015</p>

        <img class="izquierda" src="assets/bxs-school.svg" alt="school">
        <h3>Escuela primaria Gregorio Las Heras
            <a class="iconos" href=""><img src="assets/bxs-trash-alt.svg" alt="Eliminar"></a>
            <a class="iconos" href=""><img src="assets/bxs-edit-alt.svg" alt="Editar"></a>
        </h3>
        <p class="text_gray">2003 - 2010</p>
    </div>
</div>
